// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: #EAECEF;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
}

.model-custom {
  &.ant-modal {
    .ant-modal-content {
      padding: 0;
    }

    .ant-modal-close {
      top: -12px;
      right: -7px;
      background: #fff;
    }
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
}

body {
  background: rgb(24, 26, 32);
  color: #EAECEF;
  font-family: "Comfortaa", sans-serif;

  .layout-cms {
    color: #1a1a1a;
  }
}

// css common
.card-post {
  position: relative;
  margin: 0 6px 10px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  transition: all 0.3s;

  &:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  figure {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 0;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      transition: all 0.3s;
    }
  }


  mark {
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 11px;
    color: #0958d9;
    background: #e6f4ff;
    border: 1px solid #91caff;
    border-radius: 3px;
    z-index: 1;
  }

  .description {
    padding: 10px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 73%);

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 13px;
      margin-bottom: 0;
      margin-bottom: 5px;
      color: #b5c3ff;
    }

    .content-desc {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 11px;
      margin-bottom: 0;
    }
  }
}

.ant-table-wrapper {
  // overflow-x: scroll;
  background: #fff;
}

.ant-form-item {
  margin-bottom: 10px;

  &.custom-upload {
    max-width: 100%;
  }
}

.ant-modal-header {
  margin-bottom: 15px !important;
}

.media {
  iframe {
    width: 100% !important;
    height: 400px;
    margin: 20px auto;
  }

  img {
    width: 100% !important;
  }
}


.btn-load-more {
  display: table;
  margin: 20px auto;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.btn-load-more:active {
  transform: scale(0.96);
}

.btn-load-more:before,
.btn-load-more:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btn-load-more:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btn-load-more:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}